ENVIRONMENT=development
APP_NAME=__APP_NAME__

# DB
MYSQL_URL=__MYSQL_URL__
REDIS_URL=__REDIS_URL__

# Celery
CELERY_BROKER_URL=__CELERY_BROKER_URL__
CELERY_RESULT_BACKEND=__CELERY_RESULT_BACKEND__

# Logging
LOG_LEVEL=__LOG_LEVEL__
LOG_DIR=__LOG_DIR__


